$primary-color : #ff752f;

body{
		
	color : $primary-color;
	
}

.button{
	display: inline-block;
	color :$primary-color;
	text-align: center;
	border: solid 2 px $primary-color;
}

.button-alert{
	a{
		@extend .button;
		border-radius:  4px;
	}
}

@mixin inline-block ($margin : 10px){
	display : inline-block;
	margin-left: $margin;
}

#box{
	font: {
		weight: bold;
		family: Algerian;
	
	}
	@include inline-block()
}

@for $i from 1 through 3 {
	.m-#{$i}{
		margin: 0 ($i*0.25rem);
	}
}

.btn{
	background: $primary-color;
	border-radius: 5px;
	@if lightness($primary-color) > 50% {
		color: #ffb60b;
	}
	@else{
		color: #ff1f17;
	}
}

@function backgroundcolor($background-color){
	@if $background-color != 'white'{
	@return white;
	}
	@else{
		@return black;
	}
}

.text{
	color : backgroundcolor(red) ;
	font-size: 20px;
	

}

textarea{
	
	@extend .text;

	
}
h1{
	@extend .text;

}

@mixin btn-border ($witdh ,$color){

	border : solid  $witdh $color;
}

.btn{
	@include btn-border(3px,yellow)	
}


$langage:'HTML5','HTML5', 'CSS3','JAVA', 'React';

@function test1($list)
{
	@return nth($list,1);
}
@function test2($list)
{
@return nth($list, length($list) );
}

.langage{
	content : test1($langage);
}
